{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container">
  <h1>Create Template</h1>
  <form method="POST" action="{{ url_for('create') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data }}">
      {% for error in form.subject.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea class="form-control" rows="5" name="body" id="body">{{ form.body.data }}</textarea>
      {% for error in form.body.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Preview</button>
  </form>
</div>
{% endblock %}