<!--<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <form method="post" action="/login">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <input type="submit" value="Login">
  </form>
</body>
</html>-->

{% extends 'base.html' %}
{% block content %}
<div class="container">
  <br>
  <h1>Login</h1>
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" id="email" value="{{ form.email.data }}">
      {% for error in form.email.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <br>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password" id="password">
      {% for error in form.password.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
