{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
<h1>Schedule Emails</h1>
<form method="POST" action="{{ url_for('schedule') }}">
    <div class="form-group">
        <label for="scheduled_time">Scheduled Time (yyyy-mm-dd hh:mm:ss)</label>
        <br>
        <input type="text" class="form-control" id="scheduled_time" name="scheduled_time" required>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Schedule Emails</button>
</form>
</div>
{% endblock %}
